*{
   font-family: Roboto;
   color: #001220;
}


/* default classes gevonden in styleguide */
.Title{
   font-weight: bold;
   font-size: 5.75rem;
   letter-spacing: -2%;
}

.Header1{
  font-weight: bold;
  font-size: 4.25rem;
  letter-spacing: -2%;
}

.Header2{
   font-weight:bold;
   size:3.25rem;
   letter-spacing: -2%;
}

.Header3{
   font-weight: bold;
   size: 2.25rem;
   line-height: -2%;
}

.SectionTitle{
   font-weight: bold;
   size: 2.25rem;
   letter-spacing: 12.5%;
}

.Subtitle {
   font-weight:normal;
   font-size: 1.75rem;
   line-height: 0%;
}

.SubtitleBold{
   font-weight: bold;
   font-size: 1.75rem;
   line-height: 0%;
}

.SubtitleLight{
   font-weight: lighter;
   font-size: 1.75rem;
   line-height: 0%;
}

.CourseScopeTitle{
   font-weight: bold;
   font-size: 1.75rem;
   letter-spacing: 12.5%;
}

.bodyLarge{
   font-weight: normal;
   font-size:1.25rem ;
}

.bodyLargeBold{
   font-weight: bold;
   font-size:1.25rem ;
}

.bodyLargeLight{
   font-weight: lighter;
   font-size:1.25rem ;
}

.SectionTitleSmall{
   font-weight: bold;
   font-size: 1.25rem;
   letter-spacing: 12.5%;
}

.LinkLarge{
   font-weight: bold;
   font-size: 1.25rem;
   text-decoration: underline;
}

.ButtonTextLarge{
   font-weight: bold;
   font-size: 1.25rem;
   letter-spacing: 4%;
}

.ButtonText{
   font-weight: bold;
   font-size: 1rem;
   letter-spacing: 4%;
}

.Body{
   font-weight: lighter;
   line-height: 140%;
   font-size: 1rem;
}

.BodyBold{
   font-weight: bold;
   font-size: 1rem;
   line-height: 140px;
}

.Link{
   font-weight: bold;
   font-size: 1rem;
}

.MobileNavLink{
   font-weight: bold;
   font-size: 1rem;
}

.Pre-Title{
   font-weight: normal;
   font-size: 0.75rem;
   
}

.Small {
   font-weight: normal;
   font-size: 0.75rem;
}




