.nav-slider{
    display: none;
}

@media(max-width: 1080px) {
    .slider {
        width: 100%;
        margin: 100px auto;
        z-index: 100;
    }
    .responsive{
        z-index: 120;
    }
    .nav-slider{
        display: block;
        margin: 30px auto;
        width: calc(100vw - 20vw);
        max-width: calc(100vw - 168px);
        box-sizing: border-box;
        overflow: hidden;
    }
    .nav-slider .slick-list{
        overflow: visible;
    }

    .slick-slide {
        margin: 0px 20px;
        color: #FAFAFA;
        font-weight: 200;
    }
    .nav-slider .slick-slide {
        margin: 0;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .slick-slide img {
        width: 100%;
    }
    .students__card__social {
        margin: 1.8rem 16px .5rem 16px;
    }
    .slick-prev,
    .slick-next {
        z-index: 100;
    }
    .slick-prev:before,
    .slick-next:before {
        color: #FBAE3C;
        opacity: 1;
    }

    .slick-active {
        opacity: 1;
    }

    .slick-current {
        opacity: 1;
    }
    .nav-slider .slick-slide p{
        display: inline-block;
        color: #FAFAFA;
        width: 20px;
        height: 20px;
        padding: 11px 0;
        line-height: 21px;
        text-align: center;
    }
    .nav-slider .slick-current p{
        color: #001220;
        width: 20px;
        height: 20px;
        background: #FBAE3C;
        border-radius: 50%;
        font-weight: 400;
        padding: 11px;
    }
}